img{
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    margin-top: 50px;
}

.haiben{
    display: flex;
    justify-content: space-between;
}
.haiben h3{
    margin: 50px 50px;
}

footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}